// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.fc-view-harness{
    background-color: white;
}

.fc-toolbar-title{
    color: white;
}

<<<<<<< HEAD
.btn-report{
    width: 10rem;
}


#calendar{
    padding-top: 5rem;
    height: 50rem;
}

h5{
    color: white;
=======

#calendar{
    padding-top: 5rem;
>>>>>>> 3af6f1d (Adding initial desing)
}