// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fc-view-harness{
    background-color: white;
}

.fc-toolbar-title{
    color: white;
}
.btn-report{
    width: 10rem;
}

h5{
    color: white;
}


.my-custom-scrollbar {
    position: relative;
    height: 40rem;
    overflow: auto;
}